.container {
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  font-size: clamp(1rem, 0.4667rem + 2.1333vw, 3rem);
  font-family: "Marcellus SC", sans-serif;
  color: var(--primary-clr);
  line-height: 1.8;
  letter-spacing: 10px;
}

.container:first-child {
  margin-right: 1rem;
}
