.right {
  grid-column: 5/8;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 0;
}

@media (max-width: 800px) {
  .right {
    grid-column: span 6;
    order: -1;
    margin: 1rem;
  }
}

@media (min-width: 1200px) {
  .right {
    padding-right: 8rem;
  }
}

.heading {
  font-size: clamp(1rem, 1.5rem + 8vw, 2.7rem);
  margin-bottom: 1rem;
}

.text {
  font-size: clamp(0.7rem, 1rem + 2vw, 1rem);
  line-height: 1.6;
}
