.on {
  filter: brightness(50%);
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.75s ease 0.2s, transform 1.35s cubic-bezier(0.09, 0.9, 0.33, 0.89);
  z-index: 22;
}

.off {
  filter: brightness(50%);
  opacity: 0;
  transform: scale(1.5);
  transform-origin: 50% 50%;
  transition: opacity 0.75s ease 0s, transform 1.35s linear;
  z-index: 21;
}
