.on {
  filter: brightness(50%);
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.75s ease 0.2s, transform 1.35s cubic-bezier(0.09, 0.9, 0.33, 0.89);
  z-index: 22;
}

.off {
  filter: brightness(50%);
  opacity: 0;
  transform: scale(1.2);
  transform-origin: 50% 50%;
  transition: opacity 0.75s ease 0s, transform 1.35s linear;
  z-index: 21;
}

.bg-image1 {
  background-image: url("/assets/images/w1.webp");
}

.bg-image2 {
  background-image: url("/assets/images/p1.webp");
}

.bg-image3 {
  background-image: url("/assets/images/b1.webp");
}

.bg-image4 {
  background-image: url("/assets/images/e1.webp");
}

.bg-image5 {
  background-image: url("/assets/images/pp1.webp");
}

.bg-image6 {
  background-image: url("/assets/images/t1.webp");
}
