.footer {
  height: 13vh;
  position: relative;

  font-family: var(--primary-font);
  font-size: 0.8rem;
  line-height: 1.8;

  display: flex;
  align-items: center;

  margin-top: 3rem;
  margin-left: 1rem;
  letter-spacing: 1px;
}

@media (max-width: var(--tablet-breakpoint)) {
  .footer {
    margin-top: 4rem;
    align-items: flex-end;
  }
}
