.main {
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.explore {
  display: flex;
  place-items: center;
  font-family: var(--primary-font);
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 10px;
  opacity: 0.6;
  margin-bottom: 3rem;
}

.explore::before {
  display: block;
  content: "";
  height: 1px;
  width: 12px;
  background-color: var(--primary-clr);
  margin-right: 8px;
}

.nav {
  width: 100%;
  font-family: "Marcellus SC", sans-serif;
  font-weight: 200;
  font-size: clamp(1.8rem, 0.6rem + 2.2vw, 3rem);
  color: var(--primary-clr);
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-items:hover {
  color: var(--primary-clr);
}

.nav-items:hover.nav-item {
  opacity: 0.5;
}

.nav-item {
  position: relative;
  padding: 0.5rem 0;
  transition: opacity 0.2s ease-in-out;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 20vw;
  height: 2px;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: var(--secondary-clr);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transition-delay: 0.3s;
}

.nav-item:hover {
  color: var(--secondary-clr);
  transition: all 0.25s ease-out;
  opacity: 1;
}
