.container {
  margin: 8rem auto;
}

.featuring {
  position: relative;
}

.featuring::before {
  position: absolute;
  top: -0.8rem;
  left: -1.5rem;

  content: "";
  width: 30px;
  height: 1px;
  background-color: var(--primary-clr);
}

.heading {
  font-size: 2rem;
}

.paragraph {
  font-size: 1rem;
}
