@media (max-width: 800px) {
  .container {
    min-height: 20vh;
    display: flex;
    margin-top: 2rem;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

.input,
.select {
  padding: 0.3rem 1rem;
  margin-left: 1rem;
}

@media (max-width: 800px) {
  .input {
    max-width: 9rem;
  }
}

.select {
  border: 2px solid var(--primary-clr);
  background: none;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.select * {
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}
